<.header>
  New Cart item <%= @product.id %>
  <:subtitle>Use this form to manage cart_item records in your database.</:subtitle>
</.header>

<.cart_item_form changeset={@changeset} action={~p"/products/cart_items/#{@product}"} />

<.back navigate={~p"/products/cart_items"}>Back to cart_items</.back>
